body {
  background: rgb(17, 17, 17);
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background: #257cff;
  padding: 0.4rem 1.4rem;
  border: none;
  outline: none;
  margin: 0 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: 0.12s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #3d88f8;
}

input[type="text"] {
  background: #212121;
  border: none;
  height: 26px;
  border-radius: 4px;
  outline: none;
  color: #fff;
  text-indent: 7px;
  transition: 0.12s ease-in-out;
}

input[type="text"]:hover {
  background: #333;
}

ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

li {
  padding: 6px;
  transition: 0.12s ease-in-out;
}

li:hover {
  background: #0c0c0c;
}

li:nth-child(even) {
  background: #0c0c0c;
}

.completed {
  text-decoration: line-through;
}
