body {
  background: rgb(17, 17, 17);
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background: #257cff;
  padding: 0.4rem 1.4rem;
  border: none;
  outline: none;
  margin: 0 0.3rem;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 4px;
  transition: .12s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: #3d88f8
}

input[type="text"] {
  background: #212121;
  border: none;
  height: 26px;
  border-radius: 4px;
  outline: none;
  color: #fff;
  text-indent: 7px;
  transition: .12s ease-in-out;
}

input[type="text"]:hover {
  background: #333;
}